@font-face {
    font-family: 'Bro';
    src: url('../Fonts/brandon-grotesque-regular-cufonfonts-webfont/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}

html {
    margin: 0px;
    padding: 0px;
    font-family: Bro;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 100px;
}

.Location {
    text-align: center;
    font-size: 25pt;
    padding-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
    p {
        margin-bottom: 0px;
    }
}

.today-weather {
    display: grid;
    width: 95%;
    margin: 0px auto 0px auto;
    grid-template-columns: 50% 50%;
    .temperature {
        font-size: 170pt;
        text-align: right;
        margin-right: 20px;
        .main-degree {
            font-size: 100pt;
            margin-bottom: auto;
            font-family: sans-serif;
        }
    }
    .day {
        font-size: 30pt;
        line-height: 10px;
        padding-top: 25px;
        margin-left: 20px;
        #dis {
            text-transform: uppercase;
        }
    }
}

.forecast {
    width: 80%;
    margin: 0px auto;
    .day-forecast {
        display: grid;
        grid-template-columns: 50% 40% 10%;
        /* background-color: #fa7d7d; */
        font-size: 40pt;
        padding-top: 2vh;
        .day-of-week {
            text-align: left;
        }
        .icon-space {
            text-align: center;
            img {
                filter: invert(1);
                height: 70px;
            }
        }
        .weather {
            text-align: right;
        }
        .main-degree-forecast {
            font-size: 25pt;
            font-family: sans-serif;
        }
    }
}

@mixin themable($theme-name,
$body-bg,
$left-bg,
$right-bg,
$innertext,
$button-bg,
$text-color) {
    .#{$theme-name} {
        background-color: $body-bg;
        color: $text-color;
        .logo-clock {
            padding-top: 50px;
            .logo {
                height: 200px;
                padding-left: 10vh;
            }
            .clock {
                font-size: 50pt;
                float: right;
                padding-right: 10vh;
            }
        }
    }
}

@include themable(theme-1,
#3498db,
#497265,
#82aa91,
#fff,
#bc6a49,
#fff);